@keyframes fadeInAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* =========================================================================================== */

html {
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-family: Tahoma;
}

section {
    width: 100%;
}

#app {
    /*border: 1px solid blue;*/
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
    text-align: center;
}

#logo-section {
    font-size: 1.25rem;
    color: darkslategrey;
}

#nav-section {}

.nav-section--burger-icon {
    font-size: 36px !important;
    color: darkslategrey;
    margin: 0 0 .5rem;
}

.nav-section--burger-icon:hover {
    cursor: pointer;
    color: gold;
}

#toggle:checked+.nav-section--nav-menu {
    display: flex;
}

.nav-section--nav-menu {
    text-align: center;
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 20px;
    margin: 1rem;
    background-color: floralwhite;
    border-radius: 25px;
    -webkit-box-shadow: 1px 17px 61px -5px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 1px 17px 61px -5px rgba(0, 0, 0, 0.49);
    box-shadow: 1px 17px 61px -5px rgba(0, 0, 0, 0.49);
    animation-name: fadeInAnim;
    animation-duration: 2.5s;
}

.nav-section--nav-menu--element {
    border: 1px solid lightslategrey;
    padding: .5rem 0;
    margin: 10px auto;
    border-radius: 25px;
    width: 100%;
}

.nav-section--nav-menu--element:hover {
    background-color: aliceblue;
}
.nav-section--nav-menu--element:active {
    background-color: teal;
}

.nav-section--nav-menu--element--link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 700;
}

#description-section {
    font-size: .75rem;
}

#description-section p {
    margin: .5rem;
    padding: 0;
}

#books-section {
}

.is-selected {
    background-color: gold !important;
    font-weight: 900;
}

.featured-books {
    background-color: teal;
    margin-bottom: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.main-books {
    border: 1px solid slategrey;
    margin: 10px 0;
}

.book-title {
    border-bottom: 1px solid slategrey;
    font-weight: 900;
    font-size: .75rem;
    background-color: aliceblue;
}

.book-description {
    font-size: .5rem;
    padding: 3%;
}

#social-media-section {
    display: flex;
    justify-content: center;
}

.social-media-section--icon {
    color: slategrey;
    font-size: 40px !important;
    margin: 0 15px;
}

.social-media-section--icon:hover {
    color: royalblue;
    margin-top: -2px;
}