<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="icons/favicon.png"/>
    <title>Bookstore [Vue.js]</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="app">
        <section id="logo-section">
            <h1 class="logo-section--page-title">The Book Store</h1>
        </section>
        <section id="nav-section">
            <!-- Burger Icon -->
            <label class="fa fa-bars nav-section--burger-icon" for="toggle" aria-hidden="true"></label>
            <!-- Hidden checkbox used for opening and closing the menu naigation bar -->
            <input type="checkbox" id="toggle" style="display:none">
            <ul class="nav-section--nav-menu">
                <li class="nav-section--nav-menu--element">
                    <a class="nav-section--nav-menu--element--link" href="javascript:void(0)">Home</a>
                </li>
                <li class="nav-section--nav-menu--element">
                    <a class="nav-section--nav-menu--element--link" href="javascript:void(0)">Books</a>
                </li>
                <li class="nav-section--nav-menu--element">
                    <a class="nav-section--nav-menu--element--link" href="javascript:void(0)">Magazines</a>
                </li>
                <li class="nav-section--nav-menu--element">
                    <a class="nav-section--nav-menu--element--link" href="javascript:void(0)">E-Books</a>
                </li>
                <li class="nav-section--nav-menu--element">
                    <a class="nav-section--nav-menu--element--link" href="javascript:void(0)">Account</a>
                </li>
            </ul>
        </section>
        <section id="description-section">
            <p>This updated version of "The Book Store", developed by <a href="https://www.alexanderjamesclarke.co.uk" target="none">Alex Clarke</a> is built using Vue.js and is powered by the Google Books API.</p>
        </section>
        <section id="books-section">
            <h1>Featured Books Section</h1>
            <div class="featured-books" v-bind:id="book.id" v-for="book in featuredBooks" :key="book.id" v-on:click="checkForSelectedBooks(book)" v-bind:class="{ 'is-selected' : book.checked }">


                <div class="featured-books--title book-title">
                    {{ book.volumeInfo.title }}
                </div>
                <div class="featured-books--subtitle book-subtitle">
                    {{ book.volumeInfo.subtitle }}
                </div>
                <div class="featured-books--cover-image book-cover-image">
                    <img v-bind:src="book.volumeInfo.imageLinks.thumbnail" />
                </div>
                <div class="featured-books--authors book-author">
                    <span>Author(s): </span>{{ book.volumeInfo.authors.join(', ') }}
                </div>
                <div class="featured-books--pages book-pages">
                    <span>Pages: </span>{{ book.volumeInfo.pageCount }}
                </div>
                <div class="featured-books--description book-description">
                    {{ book.volumeInfo.description | truncateDescription }}
                </div>
            </div>

            <div class="main-books" v-bind:id="book.id"  v-for="book in mainBooks" :key="book.id" v-on:click="checkForSelectedBooks(book)" v-bind:class="{ 'is-selected' : book.checked }">
                <div class="main-books--title book-title">
                    {{ book.volumeInfo.title }}
                </div>
                <div class="main-books--subtitle book-subtitle">
                    {{ book.volumeInfo.subtitle }}
                </div>
                <div class="main-books--cover-image book-cover-image">
                    <img v-bind:src="book.volumeInfo.imageLinks.thumbnail" />
                </div>
                <div class="main-books--authors book-author">
                    <span>By: </span>{{ book.volumeInfo.authors.join(' & ') }}
                </div>
                <div class="main-books--pages book-pages">
                    <span>Pages: </span>{{ book.volumeInfo.pageCount }}
                </div>
                <div class="main-books--description book-description">
                <!-- <div class="main-books--description book-description" v-model="shortDescription(result, key)"> -->
                	{{ book.volumeInfo.description | truncateDescription }}
                </div>
            </div>
        </section>
        <section id="social-media-section">
            <i class="fa fa-twitter social-media-section--icon" aria-hidden="true"></i>
            <i class="fa fa-facebook-square social-media-section--icon" aria-hidden="true"></i>
            <i class="fa fa-instagram social-media-section--icon" aria-hidden="true"></i>
        </section>
    </div>
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="js/vue-script.js"></script>
</body>

</html>